<div class="cat-item">
  <img src="" alt="Cat" class="item-img" />
  <div class="item-info">
    <div class="item-top">
      <span><%= category.name %></span>
      <span><%= category.total_amount %></span>
    </div>
    <div class="item-bottom">
      <span>4 July 2023</span>
    </div>
  </div>
</div>
