<a class="cat-item" id="<%= dom_id spend_category %>">
  <div class="item-info">
    <div class="item-top">
      <span class="item-name"><%= spend_category.name %></span>
      <span class="item-amount">$2000</span>
    </div>
    <div class="item-bottom">
      <span>4 July 2023</span>
    </div>
  </div>
  <img src=<%= spend_category.icon %> alt="Cat" class="item-img" />
</a>
