<div id="<%= dom_id spend_category %>">
  <p>
    <strong>Name:</strong>
    <%= spend_category.name %>
  </p>

  <p>
    <strong>Icon:</strong>
    <%= spend_category.icon %>
  </p>

  <p>
    <strong>User:</strong>
    <%= spend_category.user_id %>
  </p>

</div>
