<h1>Editing spend transaction</h1>

<%= render "form", spend_transaction: @spend_transaction %>

<br>

<div>
  <%= link_to "Show this spend transaction", @spend_transaction %> |
  <%= link_to "Back to spend transactions", spend_transactions_path %>
</div>
