<section id="spend_transactions" class="d-flex flex-column g-3">
  <% @spend_transactions.each do |spend_transaction| %>
    <%= render spend_transaction %>
</div>

<%= link_to "New spend transaction", new_spend_category_spend_transaction_path %>
